################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Phone-Store-Management/bin/Debug
/Phone-Store-Management/obj/Debug
/.vs/Phone-Store-Management/v15
/packages/EntityFramework.6.2.0/tools
Phone-Store-Management/App.config
Phone-Store-Management/Bill.cs
Phone-Store-Management/BillDetail.cs
Phone-Store-Management/PhoneStoreManagement.Context.cs
Phone-Store-Management/PhoneStoreManagement.Context.tt
Phone-Store-Management/PhoneStoreManagement.cs
Phone-Store-Management/PhoneStoreManagement.Designer.cs
Phone-Store-Management/PhoneStoreManagement.edmx
Phone-Store-Management/PhoneStoreManagement.edmx.diagram
Phone-Store-Management/PhoneStoreManagement.tt
Phone-Store-Management/Product.cs
Phone-Store-Management/Role.cs
Phone-Store-Management/sysdiagram.cs
Phone-Store-Management/Type.cs
Phone-Store-Management/User.cs
Phone-Store-Management/App.config
Phone-Store-Management/App.config
Phone-Store-Management/Phone-Store-Management.csproj
Phone-Store-Management/App.config
Phone-Store-Management/Phone-Store-Management.csproj
