.vs
packages
/Phone-Store-Management/bin
/Phone-Store-Management/obj
Phone-Store-Management/App.config
Phone-Store-Management/Phone-Store-Management.csproj
Phone-Store-Management/Entities/PhoneStoreManagement.Context.cs
Phone-Store-Management/Entities/PhoneStoreManagement.Context.tt
Phone-Store-Management/Entities/PhoneStoreManagement.cs
Phone-Store-Management/Entities/PhoneStoreManagement.Context.Designer.cs
Phone-Store-Management/Entities/PhoneStoreManagement.edmx
Phone-Store-Management/Entities/PhoneStoreManagement.edmx.diagram
Phone-Store-Management/Entities/PhoneStoreManagement.tt
Phone-Store-Management/Entities/Bill.cs
Phone-Store-Management/Entities/BillDetail.cs
Phone-Store-Management/Entities/Product.cs
Phone-Store-Management/Entities/Role.cs
Phone-Store-Management/Entities/Type.cs
Phone-Store-Management/Entities/User.cs