USE [master]
GO

CREATE DATABASE [DBStoreManagement]
GO

CREATE TABLE [dbo].[Bill](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[BillDate] [datetime] NOT NULL,
	[CashierID] [int] NOT NULL,
	[TotalPrice] [float] NOT NULL CONSTRAINT [DF__Bill__TotalPrice__1B0907CE]  DEFAULT ((0)),
 CONSTRAINT [PK__Bill__11F2FC4ABE74E2F5] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 5/23/2019 8:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[BillID] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
 CONSTRAINT [PK__BillDeta__DAB230260508BBAD] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/23/2019 8:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Brand] [nvarchar](max) NULL,
	[TypeId] [int] NOT NULL,
	[Price] [float] NOT NULL CONSTRAINT [DF__Product__Price__173876EA]  DEFAULT ((0)),
	[Description] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[ImageURL] [nvarchar](max) NULL,
 CONSTRAINT [PK__Product__3214EC076E5FB3D3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/23/2019 8:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type]    Script Date: 5/23/2019 8:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/23/2019 8:48:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[UserName] [nchar](50) NULL,
	[Password] [nchar](50) NULL,
	[IdentityCard] [nchar](10) NULL,
	[Birthdate] [datetime] NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK__Users__3214EC07F9921C0C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([BillID], [BillDate], [CashierID], [TotalPrice]) VALUES (1, CAST(N'2019-05-23 00:00:00.000' AS DateTime), 1, 28980000)
INSERT [dbo].[Bill] ([BillID], [BillDate], [CashierID], [TotalPrice]) VALUES (2, CAST(N'2019-05-23 00:00:00.000' AS DateTime), 1, 37960000)
SET IDENTITY_INSERT [dbo].[Bill] OFF
INSERT [dbo].[BillDetail] ([BillID], [ProductId], [Amount], [UnitPrice]) VALUES (1, 2, 1, 20990000)
INSERT [dbo].[BillDetail] ([BillID], [ProductId], [Amount], [UnitPrice]) VALUES (1, 3, 1, 7990000)
INSERT [dbo].[BillDetail] ([BillID], [ProductId], [Amount], [UnitPrice]) VALUES (2, 3, 1, 7990000)
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [DisplayName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [DisplayName]) VALUES (2, N'Nhân Viên')
INSERT [dbo].[Role] ([RoleId], [DisplayName]) VALUES (3, N'Nhân Viên Kho')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([TypeId], [DisplayName]) VALUES (1, N'Điện thoại')
INSERT [dbo].[Type] ([TypeId], [DisplayName]) VALUES (2, N'Tai nghe')
INSERT [dbo].[Type] ([TypeId], [DisplayName]) VALUES (3, N'Sạc dự phòng')
SET IDENTITY_INSERT [dbo].[Type] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [RoleId], [DisplayName], [UserName], [Password], [IdentityCard], [Birthdate], [Address]) VALUES (1, 1, N'Admin', N'admin                                             ', N'admin                                             ', N'123456789 ', NULL, NULL)
INSERT [dbo].[Users] ([Id], [RoleId], [DisplayName], [UserName], [Password], [IdentityCard], [Birthdate], [Address]) VALUES (2, 2, N'Cashier', N'cashier                                           ', N'123                                               ', N'123456789 ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__CashierID__1BFD2C07] FOREIGN KEY([CashierID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__CashierID__1BFD2C07]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK__BillDetai__BillI__1ED998B2] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([BillID])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK__BillDetai__BillI__1ED998B2]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK__BillDetai__Produ__1FCDBCEB] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK__BillDetai__Produ__1FCDBCEB]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__ImageUR__182C9B23] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Type] ([TypeId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__ImageUR__182C9B23]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RoleId__1273C1CD] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RoleId__1273C1CD]
GO
USE [master]
GO
